{{> navbar}}

<div class="container mt-4 text-center">
    <h1 class="display-4">Bienvenido a <span class="text-primary">Trendify</span></h1>
    <p class="lead">Explora nuestros productos y disfruta de una experiencia de compra única.</p>
    <a href="/products" class="btn btn-primary btn-lg m-2">Ver Productos</a>
    <a href="/chat" class="btn btn-secondary btn-lg m-2">Chat en Vivo</a>
</div>

<div class="container mt-4">
    <div class="row">
        {{#each products}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{this.thumbnail}}" class="card-img-top" alt="{{this.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="text-success fw-bold">${{this.price}}</p>
                    <button class="btn btn-success add-to-cart" data-id="{{this._id}}">
                        <i class="fas fa-cart-plus"></i> Añadir al carrito
                    </button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{> footer}}
