<h2 class="text-center mt-4">Nuestros Productos</h2>
<div class="row">
    {{#each products}}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{this.thumbnail}}" class="card-img-top" alt="{{this.name}}">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
                <p class="text-success fw-bold">${{this.price}}</p>
                <a href="/products/{{this._id}}" class="btn btn-primary">Ver Detalles</a>
                <button class="btn btn-success add-to-cart" data-id="{{this._id}}">
                    <i class="fas fa-cart-plus"></i> Añadir al carrito
                </button>
            </div>
        </div>
    </div>
    {{/each}}
</div>

